#create-todo {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

#form-create-todo {
    display: flex;
    flex-direction: column;
    justify-content: center;
}


#todo-list {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}